<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <title>HTML E-mail Signature</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            *{margin: 0; padding: 0;}
        </style>
    </head>
    <body>
        <table cellpadding="0" cellspacing="0" role="presentation" border="0">
            <tr>
                <td>
                    <!-- Master table -! Don't touch this -->
                    <!-- primary table here -->
                             <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                        <tr>
                            <td>
                                <!-- Left side -->
                                         <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                    <tr>
                                        <td>
                                            <!-- headshot -->
                                            <img src="Profile.jpg" height="80" width="80" alt="Profile picture is loaded">
                                            <!-- headshot -->
                                        </td>
                                    </tr>
                                 </table>
                                         <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                    <tr>
                                        <!-- social media icons -->
                                        <td><!-- Facebook -->
                                            <a href="https://www.facebook.com/KhairulsToday/">
                                                <i class="fa-brands fa-square-facebook"></i>
                                            </a>
                                        </td>
                                        <td><!-- Linkedin -->                          <a href="https://www.linkedin.com/in/khairul-islam-68aaa518b/" target="_blank">
                                            <i class="fa-brands fa-linkedin"></i>
                                            </a>
                                        </td>
                                        <td><!-- Instagram -->                         <a href="https://www.instagram.com/khairulstoday/" target="_blank">
                                            <i class="fa-brands fa-square-instagram"></i>
                                        </a>
                                        </td>
                                        <td><!-- Twitter -->                          <a href="" target="_blank">
                                            <i class="fa-brands fa-square-x-twitter"></i>
                                        </a>
                                        </td>
                                        <td><!-- Skype -->                          <a href="" target="_blank">
                                            <i class="fa-brands fa-skype"></i>
                                        </a>
                                        </td>
                                        
                                        <!-- social media icons -->
                                    </tr>
                                 </table>
                                <!-- Left side -->
                            </td>
                            <td>
                                <!-- Right side -->
                                         <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                    <tr>
                                        <td>
                                            <!-- name+tittle -->
                                                     <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                                <tr>
                                                    <td>
                                                        Md. Khairul Islam
                                                    </td>
                                                </tr>
                                             </table>
                                                     <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                                <tr>
                                                    <td>
                                                        CEO & Founder
                                                    </td>
                                                </tr>
                                             </table>
                                            <!-- name+tittle -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- contact table -->
                                                     <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                                <tr>
                                                    <td>
                                                        <i class="fa-solid fa-phone"></i>
                                                        <a href="tel:+8801710078159">+8801710078159</a></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="fa-solid fa-envelope"></i>
                                                        <a href="mailto:freelancerkhairuls@gmail.com" target="_blank">freelancerkhairuls@gmail.com</a></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <i class="fa-solid fa-globe"></i>
                                                        <a href="http://merge.great-site.net/" target="_blank">MERGE BD OPC</a></td>
                                                </tr>
                                             </table>
                                            <!-- contact table -->
                                        </td>
                                    </tr>
                                 </table>
                                <!-- Right side -->
                            </td>
                        </tr>
                     </table>
                             <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                        <tr>
                            <td>
                                <!-- address -->
                                         <table cellpadding="0" cellspacing="0" role="presentation" border="0">
                                    <tr>
                                        <td>Jatrabari, Dhaka, Bangladesh</td>
                                    </tr>
                                 </table>
                                <!-- address -->
                            </td>
                        </tr>
                     </table>
                    <!-- primary table here -->
                    <!-- Master table -! Don't touch this -->
                </td>
            </tr>
        </table>
    </body>
</html>